/* @font-face{ 
	font-family: 'MyWebFont';
	src: url('../webfonts/Redressed-webfont.woff') format('woff');
} */

body {
  --main-color: #e4d00a;
  --main-background-color: #EEE8AA;
}

/*********************
      navbar
*********************/

.navbar{
  background-color: #e4d00a !important;
}

.btn-menu:hover {
  background-color: #EEE8AA;
}

/*********************
      texts page
*********************/

.textTitle > a {
  color: black !important;
  text-decoration: none;
}
.textTitle:hover > a {
  color: var(--main-color) !important;
}

/*********************
  titles + paragraphs
*********************/

h3 {
  text-align: center;
  margin: 2rem 0rem;
}

h5, h6, p {
  margin: 0rem;
}

h5, h6, .strophe, .navbar {
  margin-bottom: 2rem !important;
}

.poem-title {
  font-style: italic;
}
.author {
  font-style: normal;
}

p.pers {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.chapNb {
  font-size: 1.25rem;
  font-weight: 500;
}
