/*********************
      strophes
*********************/

/* .backLine {
  margin-bottom: 2rem;
} */


/*********************
      titles
*********************/

h3 {
  margin-bottom: 5rem;
}

.pageTitle {
  margin-bottom: 10rem;
}
.pageTitle p {
  margin: 1rem 0rem;
}

h4 > .margin-text {
  float: left;
  line-height: 1.8rem;
}

div > .margin-text {
  float: left;
}

.margin-text {
  float: left;
  color: grey;
  width: 6rem;
  margin-left: -8rem;
  font-weight: normal;
  color: grey;
  font-size: 1rem;
  text-align: center;
}

.firstChap {
  margin-top: 5rem;
}

/*********************
      verses
*********************/

.verse {
  display: block;
}

.verse-nb {
  font-size: 0.8rem;
  margin-left: -5rem;
  width: 3rem;
  color: grey;
  /* if in title */
  font-weight: normal;
  /* align verses numbers each other */
  display: block;
  float: left;
  text-align: end;
  /* align to verse */
  line-height: 1.5rem;
}

.indent {
  margin-left: 3rem;
}
.indent .verse-nb {
  margin-left: -8rem;
}

:not(p).mini-indent {
  margin-left: 1rem;
}
p.mini-indent {
  text-indent: 1rem;
}
.mini-indent .verse-nb {
  margin-left: -6rem;
  width: 3rem;
}

.latin-verse {
  display: flex;
  float: right;
  color: grey;
  font-size: 0.8rem;
  /* align to verse */
  line-height: 1.5rem;
  text-align: center;
}

/*********************
      folios
*********************/

.folio {
  color: grey;
  margin-left: -12rem;
  font-size: 0.8rem;
  /* if in title */
  font-weight: normal;
  /* align to verse */
  line-height: 1.5rem;
  /* align folios numbers each other */
  display: block;
  float: left;
  width: 3rem;
  text-align: end;
}

/*********************
      notes
*********************/

/* if in title */
sup {
  font-weight: normal;
}

.notes {
  display: none;
}

.note-title {
  font-weight: bold;
}

/****************
    modal-note
****************/

.modal-call {
  cursor: pointer;
}

.note-call {
  padding: 2px;
  /* border: 1px solid grey; */
  background-color: var(--main-color);
  border-radius: 50%;
}

.modal-body h3 {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.modal-title {
  color: var(--main-color);
  margin-bottom: 0.3rem;
}

.modal-text {
  margin-bottom: 1.5rem;
}